<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thank You | Life Insurance Deal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/Content/Img/favicon.ico" type="image/x-icon">

    @Styles.Render("~/content/css/bundles")

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118283309-1"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118283309-1');
    </script>

</head>
<body>
    @Html.Partial("_PartialPopup")
    @Html.Partial("_partialHeader")
    @RenderBody()
    <!--end_body-->
    <!--<section class="brand_section">
        <div class="container">
            <img src="img/brand.jpg" alt="brand" class="brand">
        </div>
    </section>-->
    @Html.Partial("_PartialFooter")
 @Scripts.Render("~/bundles/js")

    <!--end_header-->
    <script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 856916547;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "wdHFCNjl5G8Qw4TOmAM";
var google_remarketing_only = false;
/* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
        &lt;div style="display:inline;"&gt;
        &lt;img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/856916547/?label=wdHFCNjl5G8Qw4TOmAM&amp;amp;guid=ON&amp;amp;script=0"/&gt;
        &lt;/div&gt;
    </noscript>
    <script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"5612558"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script><noscript>&lt;img src="//bat.bing.com/action/0?ti=5612558&amp;Ver=2" height="0" width="0" style="display:none; visibility: hidden;" /&gt;</noscript>


    @*msn track new*@ 
    <script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"25004548"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script>
</body>
</html>
